.background-image {
  background-position : center;
  background-repeat   : no-repeat;
  background-size     : cover;
  height              : 200vh;
}

.header-image {
  background-image    : url('http://4.bp.blogspot.com/_QYNlAfmyGs8/TShr_lFR_DI/AAAAAAAACbM/zj-NjSUgm4o/s1600/gostosa-wallpaper.jpg');
  background-position : center;
  background-repeat   : no-repeat;
  background-size     : cover;
  height              : 200px;
}