<ion-modal-view class="modal-capture">
    <ion-header-bar class="bar-dark">
        <button class="button button-clear button-icon ion-ios-arrow-thin-left"
                ng-click="closeCapture()"></button>
        <div class="title">{{ 'Filters' | translate }}</div>
        <button class="button button-positive"
                ng-click="submitCapture()">
            <i class="icon ion-arrow-right-b"></i>
        </button>
    </ion-header-bar>
    <ion-content ng-click="applyFilter('image','normal')">
        <div class="list">
            <div class="item no-padding capture-photo">
                <img ng-src="{{data}}"
                     id="image"
                     ng-click="open()">
            </div>
        </div>

        <div class="wide-as-needed">
            <a ng-repeat="filter in filters"
               ng-click="applyFilter('image', filter)">
                <img caman
                     filter="filter"
                     name="image{{ $index }}"
                     id="image{{ $index }}"
                     ng-src="{{ data}}">

                <p>{{ filter }}</p>
            </a>
        </div>
    </ion-content>
</ion-modal-view>