<ion-modal-view class="modal-share">
    <ion-header-bar class="bar-dark">
        <button class="button button-clear button-icon ion-ios-arrow-thin-left"
                ng-click="closeShare()"></button>
        <div class="title">{{ 'Share' | translate }}</div>
        <button class="button button-positive"
                ng-click="submitShare()">
            <i class="icon ion-arrow-right-b"></i>
        </button>
    </ion-header-bar>
    <ion-content>


        <div class="list">
            <div class="item item-thumbnail-left"
                 href="#">
                <img ng-src="{{form.photo}}"
                     id="image">
                <input type="text"
                       name="title"
                       ng-model="form.title"
                       placeholder="{{ 'Write a Legend'|translate }}">
            </div>
        </div>

        <ul class="list">
            <li class="item item-input">
                <input type="text"
                       placeholder="{{ 'Location' | translate }}"
                       ion-location
                       location="form.geo"
                       ng-model="form.geo.resume">
            </li>
            <div class="item nopadding"
                 ng-show="form.geo.image">
                <img ng-src="{{ form.geo.image }}">
            </div>
        </ul>

        <ul class="list">
            <li class="item item-divider"
                translate>Share in</li>
          <li class="item item-icon-left item-toggle">
              <i class="icon ion-social-facebook"></i>
             Facebook
             <label class="toggle toggle-positive">
               <input type="checkbox"
                      ng-model="social.facebook">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
            <li class="item item-icon-left item-toggle">
              <i class="icon ion-social-instagram"></i>
             Instagram
             <label class="toggle toggle-positive">
               <input type="checkbox"
                      ng-model="social.instagram">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
            <li class="item item-icon-left item-toggle">
              <i class="icon ion-social-whatsapp"></i>
             Whatsapp
             <label class="toggle toggle-positive">
               <input type="checkbox"
                      ng-model="social.whatsapp">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>

        </ul>


    </ion-content>

</ion-modal-view>