<ion-view id="view-map">
    <ion-nav-title>{{ 'mapTitle' | translate }}</ion-nav-title>
    <ion-nav-buttons side="right">

        <button class="button button-icon" distance-modal>
            <i class="icon ion-funnel"></i>
        </button>

        <button class="button button-icon" ng-disabled="places.length === 0"
                ng-click="openGallerysModal()">
            <i class="icon ion-ios-list-outline"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div id="map_canvas"></div>
    </ion-content>
    <ion-footer-bar >
        <button class="button button-positive button-block button-outline" ng-click="onSearchHere()">
            {{ 'searchInHere' | translate }}
        </button>
    </ion-footer-bar>
</ion-view>
