.bounceInLeft {
  animation-name            : bounceInLeft;
  animation-iteration-count : 1s;
  animation-duration        : 1s;
  animation-delay           : 0s;
  animation-timing-function : ease;
  animation-fill-mode       : both;
  //Instead of the line below you could use @includebackface-visibility($visibility)
  backface-visibility       : hidden;
}

.bounceInRight {
  animation-name            : bounceInRight;
  animation-iteration-count : 1s;
  animation-duration        : 1s;
  animation-delay           : 0s;
  animation-timing-function : ease;
  animation-fill-mode       : both;
  //Instead of the line below you could use @includebackface-visibility($visibility)
  backface-visibility       : hidden;
}

.bounceInUp {
  animation-name            : bounceInUp;
  animation-iteration-count : 1s;
  animation-duration        : 1s;
  animation-delay           : 0s;
  animation-timing-function : ease;
  animation-fill-mode       : both;
  //Instead of the line below you could use @includebackface-visibility($visibility)
  backface-visibility       : hidden;
}

.bounceInDown {
  animation-name            : bounceInDown;
  animation-iteration-count : 1s;
  animation-duration        : 1s;
  animation-delay           : 0s;
  animation-timing-function : ease;
  animation-fill-mode       : both;
  //Instead of the line below you could use @includebackface-visibility($visibility)
  backface-visibility       : hidden;
}

.zoomIn {
  animation-name            : zoomIn;
  animation-iteration-count : 1s;
  animation-duration        : 1s;
  animation-delay           : 0s;
  animation-timing-function : ease;
  animation-fill-mode       : both;
  //Instead of the line below you could use @includebackface-visibility($visibility)
  backface-visibility       : hidden;
}