
ion-list.card {
  margin-bottom : 10px !important;
  display       : block;
  }

.card-list {

  .card {
    margin     : 5px;
    width      : 30.5%;
    display    : inline-block;
    font-size  : 13px;
    min-height : 110px;
    height: 100px;
     
     a.item-content {
        padding: 17px 0px;
        text-align: center;

        i {
        color : $positive;
        }

      h2 {
        font-size : 14px;
        color     : darken($positive, 30);
        }
      }

    }

  }