<ion-view cache-view="false" class="photogram-activity">

  <ion-nav-title>
    <h1 class="title" translate="ACTIVITY.TITLE"></h1>
  </ion-nav-title>

  <ion-content>

    <photogram-loading loading="vm.loading"></photogram-loading>

    <div class="list">

      <div class="item item-avatar item-animate1" ng-repeat="item in vm.data track by item.id">
        <img ng-src="{{ ::item.userAvatar }}">

        <h2>{{ ::item.userName }}</h2>

        <div class="text">{{ ::item.action }}</div>
        <p>{{ ::item.createdAt | amTimeAgo }}</p>

        <div class="img-right" ng-if="item.img">
          <img ng-src="{{ ::item.img}}">
        </div>
      </div>

    </div>

    <ion-infinite-scroll ng-if="!vm.loading && !vm.empty" on-infinite="vm.load()">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>