<ion-popover-view >
    <ion-content>
        <div class="list">
            <a class="item item-icon-left" ng-click="uploadPhoto()">
                <i class="icon ion-ios-camera-outline"></i>
                <span translate="addPhoto"></span>
            </a>
            <a class="item item-icon-left" ng-click="editAlbum()">
                <i class="icon ion-ios-compose-outline"></i>
                <span translate="editAlbum"></span>
            </a>
            <a class="item item-icon-left" ng-click="deleteAlbum()">
                <i class="icon ion-ios-trash-outline"></i>
                <span translate="deleteAlbum"></span>
            </a>
        </div>
    </ion-content>
</ion-popover-view>