photo-list {

  .album-name {
    font-size: 16px;
    padding-top: 16px;
    color: #999;
  }

  .list {
    padding: 0;
    border: none;
    box-shadow: none;
    margin: 0;
    border-bottom: 1px solid #ccc;

    .card {
      margin: 0;
      border: none;
      box-shadow: none;
      padding: 0
    }

  }

  .item-body {
    img {
      min-height: 340px;
      background-color: #f7f7f7;
    }
  }

  .item-buttons {
    padding: 0;
    border-top: none;
    border-bottom: 1px solid #ccc;

    .row {
      padding: 0;
      button {
        color: #979797;
        font-size: 28px;
        position: relative;
      }

      button.ion-ios-heart {
        color: #a00;
      }

      button:last-child {
        padding-right: 20px;
      }
    }

  }

}
