<div class="center padding" ng-if="showErrorView()">
  <div class="error ">
    <i class="icon icon-large ion-ios-cloud-download-outline"></i>
    <p>{{ "errorText" | translate }}</p>
    <button class="button button-primary" ng-click="onReload()">
      {{ "tryAgainText" | translate }}
    </button>
  </div>

</div>
<div class="center padding" ng-if="showEmptyView()">
  <div class="error">
    <i class="icon icon-large ion-android-alert"></i>
    <p>{{ "galleriesNotFoundText" | translate }}</p>
  </div>
</div>

<ion-refresher pulling-text="{{'loadingText'| translate}}" on-refresh="onReload()"></ion-refresher>

<div class="row animated fadeIn " ng-if="$index % 3 === 0" ng-repeat="image in data">
  <div class="col col-33 item-animate1" ng-if="$index < data.length">
    <img ng-if="profile" profile-modal user="data[$index].user.obj" ng-src="{{ ::data[$index].imageThumb._url}}" width="100%" />
    <img ng-if="!profile" ng-src="{{ ::data[$index].imageThumb._url}}" width="100%" />
  </div>
  <div class="col col-33 item-animate1" ng-if="$index + 1 < data.length">
    <img ng-if="profile" profile-modal user="data[$index + 1].user.obj" ng-src="{{ ::data[$index + 1].imageThumb._url}}" width="100%" />
    <img ng-if="!profile" ng-src="{{ ::data[$index + 1].imageThumb._url}}" width="100%" />
  </div>
  <div class="col col-33 item-animate1" ng-if="$index + 2 < data.length">
    <img ng-if="profile" profile-modal user="data[$index + 2].user.obj" ng-src="{{ ::data[$index + 2].imageThumb._url}}" width="100%" />
    <img ng-if="!profile" ng-src="{{ ::data[$index + 2].imageThumb._url}}" width="100%" />
  </div>

</div>

<ion-infinite-scroll
        on-infinite="onLoadMore()"
        ng-if="moreDataCanBeLoaded()"
        spinner
        distance="1%">
</ion-infinite-scroll>
