<ion-modal-view class="modal-comment">
    <ion-header-bar class="bar-light">
        <button class="button button-clear button-icon ion-ios-arrow-thin-left" ng-click="closeModal()"></button>
        <div class="title"><span translate="commentPhotoText"></span>({{ comments.length }})
        </div>
    </ion-header-bar>
    <ion-content>

        <div class="padding center" ng-if="loading">
            <ion-spinner ></ion-spinner>
        </div>

        <ion-list class="list" ng-show="comments.length" can-swipe="true">
            <ion-item ng-repeat="item in comments | orderBy:createdAt" class="item item-avatar">
                <img ng-src="{{ ::item.user.photo._url || './img/user.png'}}">

                <div class="row">
                    <h2>{{ ::item.user.name }}</h2>
                </div>
                <div class="row">
                    <div class="text">{{ ::item.text }}</div>
                </div>
                <div class="row">
                    <p>{{ ::item.createdAt | amTimeAgo }}</p>
                </div>

                <div ng-if="item.user.id === currentUser.id">
                    <ion-option-button class="button-info" ng-click="editComment(item)"
                                       translate="edit">Edit
                    </ion-option-button>
                    <ion-option-button class="button-assertive" ng-click="deleteComment(item)"
                                       translate="remove">Remove
                    </ion-option-button>
                </div>
            </ion-item>
        </ion-list>

        <div class="center-ico" ng-if="nocomments">
            <i class="icon ion-ios-chatbubble-outline"></i>

            <h1 translate="noComments"></h1>
        </div>
    </ion-content>
    <form name="rForm" ng-submit="submitComment(rForm, form)" novalidate>
        <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
            <label class="item-input-wrapper">
                <i class="icon ion-ios-compose-outline placeholder-icon"></i>
                <textarea ng-model="form.text" autofocus placeholder="Send a comment..." required minlength="1"
                          maxlength="1500" >
                </textarea>
            </label>
            <div class="footer-btn-wrap">
                <button class="button button-positive button-outline" type="submit"
                        ng-disabled="!form.text || form.text === ''">Publish
                </button>
            </div>
        </ion-footer-bar>
    </form>
</ion-modal-view>