// Modal Comment Directive
.modal-comment {

  .scroll {
    height: 100%;
  }

  .scroll-content {
    background-color: #fff;
  }

  // List
  .item {
    border-bottom: 1px solid #f7f7f7 !important;
    margin-bottom: 1px;
    .item-content {
      padding-top: 0;
    }
  }

  .text {
    white-space: normal;
  }

  ion-footer-bar {
    border-top: 1px solid #ddd;
    background: transparent !important;

    label {
      border: none;
      background: transparent !important;
      padding: 0;

      .placeholder-icon {
        font-size: 22px;
      }

      textarea {
        border: none !important;
        padding: 0;
        margin-right: 60px;
        padding-top: 10px;
      }
    }
    /* add this to keep your footer buttons down
  at the bottom as the textarea resizes */
    .footer-btn-wrap {
      position: absolute;
      height: 100%;
      width: 55px;
      top: 8px;
      right: 10px;
    }

    .footer-btn {
      position: absolute !important;
      bottom: 0;
    }
  }

}