<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title" translate="signin"></h1>
        <a ng-click="closeModal()" class="button button-icon icon ion-ios-close-empty"></a>
    </ion-header-bar>

    <ion-content scroll="false">

        <div class="step2">
            <form name="myForm" novalidate="novalidate" on-submit="submitLogin(myForm, form)">

                <label class="item item-input validated">
                    <i class="icon icon-user placeholder-icon"></i>
                    <input required="required"
                           type="text"
                           name="username"
                           ng-model="form.username"
                           ng-minlength="4"
                           ng-maxlength="12"
                           autocomplete="false"
                           ng-model-options="{debounce: 1000}"
                           placeholder="{{'yourLogin' | translate}}"/>
                </label>

                <div class="errors" ng-if="myForm.username.$dirty">
                    <div ng-messages="myForm.username.$error" class="validation-error">
                        <div ng-message="required" translate="usernameRequired"></div>
                        <div ng-message="email" translate="usernameInUse"></div>
                    </div>
                    <div ng-messages="myForm.username.$pending" class="validation-pending">
                        <div ng-message="email" translate="checkingUsername"></div>
                    </div>
                </div>

                <label class="item item-input validated">
                    <i class="icon icon-lock placeholder-icon"></i>
                    <input required
                           type="password"
                           name="password"
                           autocomplete="false"
                           ng-model="form.password"
                           placeholder="{{'password'|translate}}"/>
                </label>

                <div class="errors" ng-if="myForm.username.$dirty">
                    <div ng-messages="myForm.username.$error" class="validation-error">
                        <div ng-message="required" translate="required"></div>
                    </div>
                </div>

                <div class="padding">
                    <button class="button button-block button-positive"
                            type="submit"
                            translate="{{'submit' | translate}}">
                    </button>


                    <a class="button button-block button-clear button-positive"
                       ng-click="forgotPass()"
                       translate="{{'forgotPass' | translate}}">
                    </a>


                    <span class="term">{{'termAccept' | translate}} <a
                            href="https://photogramapp.com">{{'terms' | translate}}</a> </span>
                </div>

            </form>
        </div>

    </ion-content>

</ion-modal-view>
