<ion-modal-view id="user-layout" class="modal-auth" cache-view="false">
    <ion-header-bar>
        <h1 class="title" translate="register"></h1>
        <a ng-click="closeModal()" class="button button-icon icon ion-ios-close-empty"></a>
    </ion-header-bar>

    <ion-content class="padding" scroll="false">

        <div class="step2">
            <form name="myForm" novalidate="novalidate" ng-submit="submitRegister(myForm, form)">

                <label class="item item-input"
                       ng-class="{'item-invalid': rForm.email.$invalid && !rForm.email.$pristine}">
                    <i class="icon icon-envelope placeholder-icon"></i>
                    <input required="required"
                           type="email"
                           name="email"
                           ng-model="form.email"
                           email-validator
                           ng-model-options="{debounce: 1000}"
                           placeholder="user@example.com"/>
                </label>

                <div ng-if="myForm.email.$dirty">
                    <div ng-messages="myForm.email.$error" class="validation-error">
                        <div ng-message="required" translate="emailRequired"></div>
                        <div ng-message="email" translate="emailInUse"></div>
                    </div>
                    <div ng-messages="myForm.email.$pending" class="validation-pending">
                        <div ng-message="email" translate="checkingEmail"></div>
                    </div>
                </div>

                <label class="item item-input"
                       ng-class="{'item-invalid': rForm.username.$invalid && !rForm.username.$pristine}">
                    <i class="icon icon-user placeholder-icon"></i>
                    <input required="required"
                           type="text"
                           name="username"
                           ng-model="form.username"
                           username-validator
                           ng-minlength="4"
                           ng-maxlength="12"
                           ng-model-options="{debounce: 1000}"
                           ng-pattern="/^[a-zA-Z'. -]+$/"
                           placeholder="{{'yourLogin' | translate}}"/>
                </label>

                <div ng-if="myForm.username.$dirty">
                    <div ng-messages="myForm.email.$error" class="validation-error">
                        <div ng-message="required" translate="usernameRequired"></div>
                        <div ng-message="email" translate="usernameInUse"></div>
                    </div>
                    <div ng-messages="myForm.email.$pending" class="validation-pending">
                        <div ng-message="email" translate="checkingUsername"></div>
                    </div>
                </div>

                <label class="item item-input"
                       ng-class="{'item-invalid': rForm.password.$invalid && !rForm.password.$pristine}">
                    <i class="icon icon-lock placeholder-icon"></i>
                    <input required
                           type="password"
                           name="password"
                           ng-model="form.password"
                           placeholder="{{'password'|translate}}"/>
                </label>

                <button class="button button-block button-outline button-light "
                        type="submit"
                        translate="{{'submit' | translate}}">
                </button>

            </form>

            <span class="term">{{'termAccept' | translate}} <a
                    href="http://groomer.boon.pet/beta">{{'terms' | translate}}</a> </span>
        </div>

    </ion-content>

</ion-modal-view>
