<ion-modal-view>
    <ion-header-bar class="bar bar-top bar-positive">
        <button class="button button-clear button-icon ion-android-close"
                ng-click="modal.hide()"></button>
        <div class="title">{{ 'Suggestion' | translate }}</div>
    </ion-header-bar>
    <ion-content class="view-video">

        <form ng-submit="send(rForm, form)"
              name="rForm"
              novalidate>
            <ion-list class="list">
                <ion-item class="item item-input ">
                    <input type="text"
                           ng-model="form.nome"
                           name="nome"
                           required
                           placeholder="{{ 'Name' | translate }}">
                </ion-item>
                <ion-item class="item item-input ">
                    <input type="email"
                           name="email"
                           ng-model="form.email"
                           required
                           placeholder="{{ 'Email' | translate }}">
                </ion-item>
                <ion-item class="item item-input ">
                <textarea ng-model="form.mensagem"
                          name="mensagem"
                          required
                          placeholder="{{ 'Message' | translate }}"></textarea>
                </ion-item>
                <ion-item>
                    <button class="button button-block button-positive"
                            type="submit"
                            translate>Send
                    </button>
                </ion-item>
            </ion-list>
        </form>

    </ion-content>
</ion-modal-view>