<ion-modal-view ng-controller="ModalLockerCtrl as Locker"
                class="locker bg-background intro">
    <ion-header-bar class="bar bar-top bar-positive">
        <button class="button button-clear button-primary"
                ng-click="modal.hide()"><i class="icon ion-arrow-left-c"></i>
        </button>
        <div class="title">{{ Locker.data().title }}</div>
        <button class="button button-clear button-primary"
                ng-click="Locker.favorityToggle(Locker.data())"><i class="icon "
                                                                   ng-class="{ 'ion-ios-heart-outline' : favority == false , 'ion-ios-heart': favority == true }"></i>
        </button>
    </ion-header-bar>
    <ion-content class="center scroll-full">
        <ion-list class="card">
            <div class="item">
                <!--<i class="icon ion-alert assertive"></i>-->
                <h2 class="positive">{{ Locker.text }}</h2>
            </div>
        </ion-list>

        <div id="lockPattern"
             class="pattern-holder patt-holder"></div>
    </ion-content>
</ion-modal-view>