<ion-modal-view class="stube modal-video">
    <ion-header-bar class="bar-positive">
        <button class="button button-clear button-icon ion-android-close"
                ng-click="closeModal()"></button>
        <div class="title">{{ video.title }}</div>
        <button class="button button-clear button-icon"
                ng-click="favorityToggle(video)"
                ng-class="favority == false ? 'ion-ios-heart-outline' : 'ion-ios-heart'"></button>
    </ion-header-bar>
    <ion-content class="view-video">
        <ion-list>
            <ion-item class="item-slide item-positive waves-effect waves-light"
                      ng-click="openVideo(video)">
                <i class="icon ion-ios-play-outline play"></i>
                <ion-slide-box auto-play="settings('autoPlay')"
                               does-continue="{{ settings('repeat') }}"
                               slide-interval="{{ settings('interval') }}"
                               show-pager="{{ settings('showPager') }}"
                               on-slide-changed="slideChanged(index)">
                    <ion-slide ng-repeat="thumb in video.thumbs">
                        <img ng-src="{{ thumb.src }}"
                             alt=""/>
                    </ion-slide>
                </ion-slide-box>
            </ion-item>

            <ion-item class="item-divider"
                      translate>Video Details
            </ion-item>

            <ion-toggle ng-model="slideshow.showPager"
                        toggle-class="toggle-positive"
                        ng-change="set('showPager', slideshow.showPager)">
                <h2 translate>Show Pager</h2>
            </ion-toggle>


            <ion-toggle ng-model="slideshow.repeat"
                        toggle-class="toggle-positive"
                        ng-change="set('repeat', slideshow.repeat)">
                <h2 translate>Slide Show Repeat</h2>
            </ion-toggle>

            <div class="item range range-positive">
                1seg <input type="range"
                            ng-change="set('interval', slideshow.interval)"
                            ng-model="slideshow.interval"
                            name="interval"
                            min="1000"
                            max="5000"> 5seg
            </div>

            <!--<ion-item class="item-input">--><!--<span class="input-label"--><!--translate>Duration</span>-->
            <!--<span class="input-text"--><!--ng-bind="video.duration"></span>--><!--</ion-item>-->
            <!--<ion-item class="item-input">--><!--<span class="input-label"--><!--translate>Vews</span>-->
            <!--<span class="input-text"--><!--ng-bind="video.views"></span>--><!--</ion-item>-->
            <!--<ion-item class="item-divider"--><!--translate>Categories</ion-item>-->
            <!--<ion-item ng-repeat="tag in video.tags">{{ tag.tag_name | translate }}</ion-item>-->
        </ion-list>
    </ion-content>


</ion-modal-view>