//colors
$color_japanese_laurel_approx : #009900;
$color_bright_red_approx : #a00;
$white : #ffffff;
$white_70 : rgba(255, 255, 255, .7);

//@extend-elements
//original selectors
//.patt-wrap ul, .patt-wrap li
%extend_1 {
  list-style : none;
  margin     : 0;
  padding    : 0;
  }

.locker {

  .center-vertical {
    display                 : -webkit-box;
    display                 : -moz-box;
    display                 : -ms-flexbox;
    display                 : -webkit-flex;
    display                 : flex;
    -ms-flex-align          : center;
    flex-direction          : row;
    -ms-flex-direction      : row;
    -webkit-flex-direction  : row;
    -ms-flex-pack           : center;
    -webkit-box-direction   : normal;
    -moz-box-direction      : normal;
    -webkit-box-orient      : horizontal;
    -moz-box-orient         : horizontal;
    -webkit-flex-wrap       : nowrap;
    -ms-flex-wrap           : nowrap;
    flex-wrap               : nowrap;
    -webkit-box-pack        : center;
    -moz-box-pack           : center;
    -webkit-justify-content : center;
    justify-content         : center;
    -webkit-align-content   : stretch;
    -ms-flex-line-pack      : stretch;
    align-content           : stretch;
    -webkit-box-align       : center;
    -moz-box-align          : center;
    -webkit-align-items     : center;
    align-items             : center;
    }

  .center-vertical > * {
    -ms-flex-order            : 0;
    -webkit-box-ordinal-group : 1;
    -moz-box-ordinal-group    : 1;
    -webkit-order             : 0;
    order                     : 0;
    -webkit-box-flex          : 1;
    -moz-box-flex             : 1;
    -webkit-flex              : 1 1 auto;
    -ms-flex                  : 1 1 auto;
    flex                      : 1 1 auto;
    -webkit-align-self        : auto;
    -ms-flex-item-align       : auto;
    align-self                : auto;
    }

  .button-stretch {
    width : 100%;
    }

  .col-offset-15 {
    margin-left : 15%;
    }

  .locker .title {
    color      : #cccccc;
    font-size  : 24px;
    position   : absolute;
    text-align : center;
    top        : -80px;
    width      : 100%;
    }
  h2 {
    top : 15%;
    }
  .card {
    border : none;
    }
  .item {
    background : none;
    }

  .patt-holder {
    background : none;
    top        : 15%;
    }
  .patt-wrap {
    cursor   : pointer;
    position : relative;
    ul {
      @extend %extend_1;
      }
    li {
      @extend %extend_1;
      }
    }
  .patt-circ {
    box-sizing : border-box;
    float      : left;
    //Instead of the line below you could use @includebox-sizing($bs)
    position   : relative;
    &.hovered {
      border : 3px solid $color_japanese_laurel_approx;
      }
    }
  .patt-hidden {
    .patt-lines {
      display : none;
      }
    .patt-circ.hovered {
      border : 0;
      }
    }
  .patt-dots {
    background    : $white;
    border-radius : 5px;
    height        : 10px;
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    left          : 50%;
    margin-left   : -5px;
    margin-top    : -5px;
    position      : absolute;
    top           : 50%;
    width         : 10px;
    }
  .patt-lines {
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    background       : $white_70;
    border-radius    : 5px;
    height           : 10px;
    position         : absolute;
    //Instead of the line below you could use @includetransform-origin($origin-x, $origin-y, $origin-z, $only3d)
    transform-origin : 5px 5px;
    }
  .patt-error .patt-circ.hovered {
    border : 3px solid $color_bright_red_approx;
    }
  }
