<ion-view id="user-layout" class="bg-animate" >

    <ion-content class="padding view-avatar">

        <div class="row step1">
            <div class="col">
                <img class="avatar" user-avatar ng-model="currentUser.photo"
                     ng-src="{{ ::currentUser.photo._url || 'img/user.png' }}"/>
            </div>
        </div>
        <div class="step2">
            <form>
                <label class="item item-input">
                    <i class="icon icon-envelope placeholder-icon"></i>
                    <input
                            type="email"
                            name="email"
                            ng-model="vm.form.email"
                            disabled
                    />
                </label>
            </form>
            <formly-form model="vm.form" fields="vm.formFields" form="vm.rForm"></formly-form>
        </div>

        <div class="step3">
            <button ng-click="vm.submitAvatar()" class="button button-block button-positive "
                    translate="submit">
            </button>
        </div>
    </ion-content>
</ion-view>