<ion-view title="Facebook"
          class="tabs-noborder"
          ng-init="noborder=true">

    <ion-tabs class="tabs-striped tabs-positive">

        <ion-tab title="Mural"
                 class="waves-effect waves-light"
                 icon="ion-calendar"
                 ui-sref="app.facebook.feed">
            <ion-nav-view name="tabFeed"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Amigos"
                 badge="4"
                 badge-style="badge-positive"
                 icon="ion-person-stalker"
                 class="waves-effect waves-light"
                 ui-sref="app.facebook.friends">
            <ion-nav-view name="tabFriends"></ion-nav-view>
        </ion-tab>


    </ion-tabs>

</ion-view>