<ion-view title="Friends">
    <ion-nav-buttons side="right">
        <button class="button button-clear icon ion-plus"
                ng-click="FacebookFriendList.inviteFriends()"></button>
    </ion-nav-buttons>
    <ion-content has-header="true">

        <ion-spinner ng-hide="FacebookFriendList.data"></ion-spinner>

        <ion-list>
            <ion-item class="item-icon-right item-avatar "
                      ng-repeat="friend in FacebookFriendList.data">
                <facebook-photo user="friend.id"
                                width="200"
                                height="200"></facebook-photo>
                <h2>{{friend.name}}</h2>

                <p>ionicMaterialMotion.blinds();</p>
                <i class="icon ion-chatbubble muted"></i>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>
