<ion-view view-title="{{ 'Criar Conta Grátis' | translate }}">

    <ion-nav-bar class="bar-positive"
                 align-title="center">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="positive-bg user-form"
                 padding="true">
        <formly-form model="Register.form"
                     fields="Register.formFields"
                     form="rForm">

            <div class="padding">
                <button class="button button-block button-positive"
                        type="button"
                        ng-disabled="rForm.$invalid"
                        ng-click="Register.submitRegister(rForm, Register.form)"
                        translate>Criar Conta
                </button>
            </div>

        </formly-form>

        <div class="padding">
            <p class="text-center"
               translate>Ao criar sua conta, você está concordando com nossos <b>Termos e Condições</b>.</p>
        </div>
        </form>
        <div class="background"></div>
    </ion-content>
</ion-view>
