<ion-view>
    <ion-content class="profile">
        <div class="banner text-center">
            <div class="body">
                <img class="avatar"
                     ng-src="{{ user.img }}"/>

                <h3><a class="light">{{ user.name }}</a></h3>
                <h4>{{ user.email }}</h4>
            </div>
            <div class="background"
                 ng-if="user"
                 style="background-image: url('{{ user.img }}');"></div>
        </div>

        <ion-tabs class=" tabs-light icon-positive">

            <ion-tab title="Profile"
                     class="waves-effect waves-light"
                     ui-sref="app.profile.home">
                <ion-nav-view name="tabHome"></ion-nav-view>
            </ion-tab>

            <ion-tab title="Friends"
                     class="waves-effect waves-light"
                     ui-sref="app.profile.friends">
                <ion-nav-view name="tabFriend"></ion-nav-view>
            </ion-tab>


        </ion-tabs>

    </ion-content>
</ion-view>
