<ion-view class="view-home">
    <ion-nav-title>
        <span class="icon2-logo"></span>
    </ion-nav-title>

    <ion-nav-buttons side="right">
        <button class="button button-icon ion-card" ng-click="vm.buySource()"></button>

    </ion-nav-buttons>

    <ion-content overflow-scroll="true">
        <ion-refresher ng-if="!vm.loading" on-refresh="loadMore(true)"></ion-refresher>

        <photogram-loading loading="vm.loading"></photogram-loading>

        <photogram-photo-list photogram="vm.data" loading="vm.loading"></photogram-photo-list>

        <div class="center-ico" ng-if="vm.empty">
            <i class="icon ion-ios-camera"></i>

            <h1 translate>No photo</h1>
        </div>

        <ion-infinite-scroll ng-if="!vm.loading" on-infinite="vm.loadMore()"></ion-infinite-scroll>

    </ion-content>
</ion-view>