<ion-view view-title="Ionic Parse"
          class="bg-content">
    <ion-nav-title>
        <img src='img/logo.png'/>
    </ion-nav-title>
    <ion-content padding="false">

        <div class="step1">
          <ion-slide-box style="display: block; height: 250px;"
                         ng-if="Home.slideshow"
                         show-pager="true">
              <ion-slide ng-repeat="item in Home.slideshow">
                  <img ng-src="{{item.image._url}}"
                       style="width:100%;"/>
              </ion-slide>
          </ion-slide-box>
        </div>

        <div class="card-home step2">
            <div ng-repeat="item in Home.menu"
                 class="card home">
                <ion-item
                ui-sref="{{item.route}}"
                class="item-text-wrap text-center">
                    <h1><i class="icon {{item.icon}}"></i></h1>
                    <h2>{{item.name}}</h2>
                </ion-item>
            </div>
        </div>


    </ion-content>
</ion-view>
