<ion-view title="{{'Profile' | translate}}"
          class="profile">
    <ion-content>
        <div class="row">
            <div class="col-25">
                <img class="avatar" ng-src="{{ user.img }}"/>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">Publicações</div>
                    <div class="col">Seguidores</div>
                    <div class="col">Seguindo</div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="button button-block button-positive">EDITAR SEU PERFIL</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="strong">{{ user.first_name }}</span>
            </div>
        </div>

        <ion-tabs>
          <ion-tab
          icon="ion-android-apps"
          ></ion-tab>
          <ion-tab
          icon="ion-navicon-round"
          ></ion-tab>
          <ion-tab
          icon="ion-ios-location-outline"
          ></ion-tab>

        </ionc-tabs>


        <!--<div class="step2">-->
            <!--<formly-form model="GalleryProfile.form"-->
                         <!--fields="GalleryProfile.formFields"-->
                         <!--form="rForm">-->

                <!--<div class="padding">-->
                    <!--<button class="button button-block button-positive"-->
                            <!--type="button"-->
                            <!--ng-click="GalleryProfile.submitProfile(rForm, Profile.form)"-->
                            <!--translate>Criar Conta-->
                    <!--</button>-->
                <!--</div>-->

            <!--</formly-form>-->
        <!--</div>-->

    </ion-content>
</ion-view>
