<ion-view>
    <ion-nav-title>
        <ion-search class="search-wrapper-light"
                    placeholder="{{ 'Search' | translate }}"
                    min-length="1"
                    model="GallerySearch.data"
                    source="GallerySearch.search(str)"></ion-search>
    </ion-nav-title>
    <ion-content class="gallery-search">

        <gallery-photo-grid gallery="GallerySearch.data"
                            loading="GallerySearch.loading"></gallery-photo-grid>
    </ion-content>
</ion-view>