<ion-view view-title="{{ 'Galleries' | translate }}">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-camera"
                ng-click="GalleryList.upload()"></button>
    </ion-nav-buttons>
    <ion-content class="bg-content"
                 padding="true">
        <ion-refresher pulling-text="{{ 'Pull to refresh...' | translate }}"
                       on-refresh="GalleryList.load(true)"></ion-refresher>

        <ion-list class="card"
                  ui-sref="app.gallery({id: gallery.id })"
                  ng-repeat="gallery in GalleryList.data">

            <ion-item class="item-image">
                <img ng-src="{{gallery.img._url || gallery.img2}}">
            </ion-item>

            <ion-item>
                {{ gallery.title }}
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
