<ion-view title="{{ 'Instagram' | translate }}"
          ng-init="tabs=true">

    <ion-tabs class="tabs-striped tabs-positive">

        <ion-tab title="Home"
                 ui-sref="app.gallery.home">
            <ion-nav-view name="tabHome"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Feature"
                 ui-sref="app.gallery.feature">
            <ion-nav-view name="tabFeature"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Capture"
                 ui-sref="app.gallery.capture">
            <ion-nav-view name="tabCapture"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Notify"
                 ui-sref="app.gallery.notify">
            <ion-nav-view name="tabNotification"></ion-nav-view>
        </ion-tab>


        <ion-tab title="Perfil"
                 ui-sref="app.gallery.profile">
            <ion-nav-view name="tabProfile"></ion-nav-view>
        </ion-tab>

    </ion-tabs>

</ion-view>