.item-body .heart {
  width: 20px;
  height: 20px;
  margin: 200px auto;
  font-size: 300px;
  cursor: pointer;
  position: absolute;
  transition: all .3s ease;
  width: 100%;

  &:before {
    content: "❤";
    position: absolute;
    color: #fff;
    opacity: 0;
    left: 0;
    right: 0;
    text-align: center;
  }

  &.happy {
    &:before {
      opacity: 0;
      transform: translateY(0px) rotateZ(5deg);
      animation: fly 1s ease;
    }
  }

  &.broken {
    &:before {
      opacity: 0;
      animation: flyout 1s ease;
    }

  }
}

@keyframes fly {
  0% {
    opacity: 0;
    transform: scale(0.5) translateX(-250px)  translateY(250px) rotateZ(15deg);
  }
  50% {
    opacity: 0.9;
    color: #fff;
    transform: scale(1) translateY(0px) translateX(0px) rotateZ(0deg);
  }
  100% {
    opacity: 0;
    color: #a00;
    transform: scale(1.5)  rotateZ(0deg);
  }
}

@keyframes flyout {
  0% {
    opacity: 0;
    transform: scale(0.5) rotateZ(15deg);
  }
  50% {
    opacity: 0.9;
    transform: scale(1) translateY(0px) translateX(0px) rotateZ(0deg);
  }
  100% {
    opacity: 0;
    transform: scale(0.5) translateX(-250px)  translateY(250px) rotateZ(15deg);
  }
}
