<ion-view view-title="Sliding Tabs 2">
    <ion-content scroll="false">
        <ion-slide-box slide-tabs-scrollable="true"  show-pager="false" ion-slide-tabs>
            <ion-slide ion-slide-tab-label="tab"><h1>Tab 1</h1></ion-slide>
            <ion-slide ion-slide-tab-label="another tab"><h1>Tab 2</h1></ion-slide>
            <ion-slide ion-slide-tab-label="tab3"><h1>Tab 3</h1></ion-slide>
            <ion-slide ion-slide-tab-label="another tab again"><h1>Tab 4</h1></ion-slide>
            <ion-slide ion-slide-tab-label="a very large tab"><h1>Tab 5</h1></ion-slide>
            <ion-slide ion-slide-tab-label="tab6"><h1>Tab 6</h1></ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>