<ion-view cache-view="false" class="photogram-profile" title="{{ user.name }}">

    <ion-content class="animated fadeIn" overflow-scroll="false" scroll="false">
        <div class="profile-top">
            <div class="row">
                <div class="col-25">
                    <img class="avatar" user-avatar ng-src="{{ user.src }}"/>
                </div>
                <div class="col col-statics">
                    <div class="row">
                        <div class="col">
                            <photogram-loading loading="loadingPhotos"></photogram-loading>
                            <span ng-if="!loadingPhotos" class="text-center">{{ user.qtdPhotos  }}</span>

                            <h3 translate>Posts</h3>
                        </div>
                        <div class="col">
                            <photogram-loading loading="loadingFollowers"></photogram-loading>
                            <span ng-if="!loadingFollowers" class="text-center">{{ user.qtdFollowers }}</span>

                            <h3 translate>Followers</h3>
                        </div>
                        <div class="col">
                            <photogram-loading loading="loadingFollowing"></photogram-loading>
                            <span ng-if="!loadingFollowing" class="text-center">{{ user.qtdFollowing  }}</span>

                            <h3 translate>Followings</h3>
                        </div>
                    </div>
                    <div class="row col-edit">
                        <div class="col">
                            <button photogram-profile-edit class="button ">{{ 'EDIT YOUR PROFILE' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="padding">
                <span class="user-username">{{ user.name }}</span>

                <p class="user-status">{{ user.status }}</p>
            </div>

            <ion-tabs class="tabs-light tabs-top">
                <ion-tab title="Home" icon="ion-navicon" ui-sref="photogram.account.list"></ion-tab>
                <ion-tab title="About" icon="ion-grid" ui-sref="photogram.account.grid"></ion-tab>
                <ion-tab title="Settings" icon="ion-ios-location"></ion-tab>
            </ion-tabs>

        </div>

        <ion-nav-view  name="tabUser"></ion-nav-view>


    </ion-content>
</ion-view>