<ion-view cache-view="false">
    <ion-nav-title>
        <span translate="findPeople"></span>
    </ion-nav-title>
    <ion-content>
        <div class="list">

            <a class="item item-avatar item-button-right" ng-repeat="user in vm.users">
                <img ng-src="{{ ::user.photo._url || 'img/user.png'}}">
                <h2>{{user.username}}</H2>
                <p>{{user.status}}</p>

                <button class="button button-outline" ng-class="{'button-unfollow': user.isFollow, 'button-follow': !user.isFollow}"
                        ng-click="vm.follow(user)" class="button">
                    <span ng-show="!user.isFollow" translate>Follow</span>
                    <span ng-show="user.isFollow" translate>Unfollow</span>
                </button>
            </a>

        </div>
    </ion-content>
</ion-view>