<ion-view title="Fitness">

    <ion-content>

        <div class="card col home">
            <a class="item item-text-wrap text-center">
                <h1><i class="icon ion-flame"></i></h1>

                <h2>Treino Interno</h2>
            </a>
        </div>

        <div class="card col home">
            <a class="item item-text-wrap text-center">
                <h1><i class="icon ion-flame"></i></h1>

                <h2>Treino Externo</h2>
            </a>
        </div>

    </ion-content>

</ion-view>