<ion-view title="Fitness"
          class="tabs-noborder">

    <ion-tabs class=" tabs-striped tabs-positive">

        <ion-tab title="Treinar"
                 class="waves-effect waves-light"
                 icon="ion-android-bicycle"
                 ui-sref="app.fitness.home">
            <ion-nav-view name="tabHome"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Histórico"
                 class="waves-effect waves-light"
                 icon="ion-speedometer"
                 ui-sref="app.fitness.historico">
            <ion-nav-view name="tabHistorico"></ion-nav-view>
        </ion-tab>

    </ion-tabs>

</ion-view>