<ion-list class="material-list"
          show-delete="data.showDelete"
          show-reorder="data.showReorder">
    <ion-item stube-video
              ng-repeat="video in videos | orderBy:'-added' "
              class="item repeat-animation item-thumbnail-left waves-effect waves-light">

        <img ng-src="{{ video .default_thumb }}"
             alt=""/>

        <li class="row">
            <div class="col"><h2 class="title">{{ video.title }}</h2></div>
        </li>

        <li class="row">
            <div class=" col duration">
                <i class="icon ion-clock"></i> {{ video.duration }}
            </div>
            <div class="col col-40">
                <small>{{ video.added | moment:'fromNow' }}</small>
            </div>
        </li>

        <ion-option-button class="button-assertive"
                           ng-click="remove(video)">{{ 'Delete' | translate }}
        </ion-option-button>


    </ion-item>

</ion-list>
