<ion-list class="list material-list">
    <ion-item class="card"
              ng-repeat="video in videos"
              stube-video
              force-refresh-images="true">
        <div class="item-body waves-effect waves-light">
            <img ng-src="{{ video.default_thumb }}"/>
            <span class="duration">
                <i class="icon ion-clock"></i>{{ video.duration }}
            </span>
        </div>
        <div class="footer">
            <h2 class="title">{{ video.title }}</h2>
            <small>{{ video.publish_date | moment:'fromNow' }}</small>
        </div>
    </ion-item>
</ion-list>