<ion-view title="{{ 'Friends Home' | translate }}">

    <ion-content has-header="true">

        <ion-list>
            <ion-item class="item-avatar item-toggle"
                      ng-repeat="item in FriendHome.data">
                <facebook-photo user="item.facebook"
                                width="200"
                                height="200"></facebook-photo>
                <h2>{{item.name}}</h2>

                <label class="toggle toggle-balanced"> <input type="checkbox">

                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>
