<ion-popover-view >
    <ion-content>
        <div class="list">
            <!--<a class="item item-icon-left" ng-click="editPhoto()">-->
                <!--<i class="icon ion-ios-compose-outline"></i>-->
                <!--<span translate="edit"></span>-->
            <!--</a>-->
            <a class="item item-icon-left" ng-click="deletePhoto()">
                <i class="icon ion-ios-trash-outline"></i>
                <span translate="delete"></span>
            </a>
        </div>
    </ion-content>
</ion-popover-view>