<ion-view view-title="{{ 'Password' | translate }}"
          class="locker"
          hide-nav-bar="true">
    <ion-content class="positive-bg center-vertical">

        <h1 class="title"
            ng-bind="Locker.title"></h1>

        <div>
            <div class="row"
                 style="text-align: center; height: 40px;">
                <div class="col col-10 col-offset-15 line">
                    {{Locker.passcode.substring(0, 1)}}
                </div>
                <div class="col col-10 col-offset-10 line">
                    {{Locker.passcode.substring(1, 2)}}
                </div>
                <div class="col col-10 col-offset-10 line">
                    {{Locker.passcode.substring(2, 3)}}
                </div>
                <div class="col col-10 col-offset-10 line">
                    {{Locker.passcode.substring(3, 4)}}
                </div>
            </div>
        </div>
        <div style="margin-top: 20px">
            <div class="row">
                <div class="col col-20 col-offset-20">
                    <button class="button button-light waves-effect waves-light button-stretch"
                            ng-click="Locker.add(1)">1
                    </button>
                </div>
                <div class="col col-20">
                    <button class="button button-light waves-effect waves-light button-stretch"
                            ng-click="Locker.add(2)">2
                    </button>
                </div>
                <div class="col col-20">
                    <button class="button button-light waves-effect waves-light button-stretch"
                            ng-click="Locker.add(3)">3
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col col-20 col-offset-20">
                    <button class="button button-light waves-effect waves-light button-stretch"
                            ng-click="Locker.add(4)">4
                    </button>
                </div>
                <div class="col col-20">
                    <button class="button button-light waves-effect waves-light button-stretch"
                            ng-click="Locker.add(5)">5
                    </button>
                </div>
                <div class="col col-20">
                    <button class="button button-light waves-effect waves-light button-stretch"
                            ng-click="Locker.add(6)">6
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col col-20 col-offset-20">
                    <button class="button button-light waves-effect waves-light button-stretch"
                            ng-click="Locker.add(7)">7
                    </button>
                </div>
                <div class="col col-20">
                    <button class="button button-light waves-effect waves-light button-stretch"
                            ng-click="Locker.add(8)">8
                    </button>
                </div>
                <div class="col col-20">
                    <button class="button button-light waves-effect waves-light button-stretch"
                            ng-click="Locker.add(9)">9
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col col-20 col-offset-20">
                    <button class="button icon  button-light button-stretch"></button>
                </div>
                <div class="col col-20">
                    <button class="button button-light waves-effect waves-light button-stretch"
                            ng-click="Locker.add(0)">0
                    </button>
                </div>
                <div class="col col-20">
                    <button class="button icon ion-arrow-left-a button-light waves-effect waves-light button-stretch"
                            ng-click="Locker.delete()"></button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
