<ion-view title="{{ 'Search' | translate }}"
          hide-back-button="true">
    <ion-nav-title class="top-search">
        <form name="formSearch"
              ng-submit="Search.search()">
            <label class="item-input-wrapper"> <i class="icon ion-search placeholder-icon"></i> <input type="search"
                                                                                                       ng-model="Search.text"
                                                                                                       placeholder="{{ 'Search' | translate }}">
            </label>
        </form>
        <button class="button-icon button-clear ion-close"
                ng-if="Search.text.length > 0"
                ng-click="Search.clean()"></button>
    </ion-nav-title>
    <ion-content class="has-header"
                 padding="true">
        <stube-card videos="Search.data.results"></stube-card>
        <ion-infinite-scroll ng-if="Search.data.results.length"
                             on-infinite="Search.search(true)"
                             distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>