<ion-view view-title=""
          class="intro-view"
          hide-back-button="true"
          hide-nav-bar="false">

    <ion-content has-header="false">

        <ion-slide-box show-pager="true">

            <ion-slide>
                <div class="boxHome">
                    <img src="img/logo.png">

                    <h1>Bem Vindo!</h1>

                    <p>Faça seu cadastro e descubra restaurantes que oferecem Rolha Grátis com exclusividade aos nossos
                       usuários!</p>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="boxHome">
                    <img src="img/logo.png"/>

                    <h1>Explore!</h1>

                    <p>Conheça novos lugares levando seu vinho sem custo!</p>
                </div>
            </ion-slide>

        </ion-slide-box>

        <div class="btsHome">
            <div class="row">
                <div class="col">
                    <button class="button button-block button-dark"
                            ui-sref="stube.search">Login with Facebook
                    </button>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>