<ion-view title="{{ 'Categories' | translate }}"
          hide-back-button="true">
    <ion-content class="stube-view">
        <ion-list>
            <ion-item class="item-divider"
                      translate>Categories
            </ion-item>
            <ion-item style="text-transform: capitalize"
                      class="repeat-animation"
                      ng-repeat="category in categories">
                {{ category.category | translate }}
            </ion-item>
            <ion-item class="item-divider"
                      translate>Tags
            </ion-item>
            <ion-item class="repeat-animation"
                      ng-repeat="item in tags.tags">
                #{{ item.tag.tag_name | translate }}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>