<ion-tabs class="tabs-icon-only tabs-positive semi-transparent stube">

    <ion-tab title="{{ 'Search' | translate }}"
             class="waves-effect waves-light"
             icon="ion-social-youtube-outline"
             icon-on="light ion-social-youtube"
             ui-sref="stube.search">
        <ion-nav-view name="tabSearch"></ion-nav-view>
    </ion-tab>

    <ion-tab title="{{ 'Favorites' | translate }}"
             class="waves-effect waves-light"
             badge="Tabs.data.favs.length"
             icon="ion-ios-heart-outline"
             icon-on="light ion-ios-heart"
             ui-sref="stube.favorites">
        <ion-nav-view name="tabFavority"></ion-nav-view>
    </ion-tab>

    <ion-tab title="{{ 'History' | translate }}"
             badge="Tabs.data.history.length"
             class="waves-effect waves-light"
             icon="ion-ios-timer-outline"
             icon-on="light ion-ios-timer"
             ui-sref="stube.history">
        <ion-nav-view name="tabHistory"></ion-nav-view>
    </ion-tab>

    <ion-tab title="{{ 'Settings' | translate }}"
             class="waves-effect waves-light"
             icon="ion-ios-cog-outline"
             icon-on="light ion-ios-cog"
             ui-sref="stube.settings">
        <ion-nav-view name="tabSettings"></ion-nav-view>
    </ion-tab>
</ion-tabs>
